@keyframes fadeIn {
    0% {
      opacity: 0;
    }
    100% {
      opacity: 1;
    }
  }

  *{
    margin:0px;
    padding: 0px;
  }

  html{
    margin: 0;
    padding: 0;
  }
  body {
      background-color: rgb(249, 247, 219);
      margin: 0px;
      padding: 0px;
      overflow-x: hidden;
  }
  
  h1 {
    text-align: center;
    font-family: 'CENTURY GOTHIC', sans-serif;
    font-weight: 1;
    font-size: 40pt;
    animation: fadeIn 2s ease-in-out;
  }
  
  .scale {
      transition: 1s; /
    }
  .scale:hover {
      transform: scale(1.2);
  }
  

  .item { 
    text-align: right; 
    flex:2;
    font-family: 'CENTURY GOTHIC', sans-serif;
    font-size: 15pt;
    color: #ffffff;
    padding: 30px;
    
}
  
header{
  position: sticky;
  top: 0;
  z-index: 1000;
}

 nav {
    font-family: 'CENTURY GOTHIC', sans-serif;
    background-image: url('../images/wallpaper.jpg');
    font-size: 4pt;
    width: 100%;
    height:50px;
    margin: -5px auto;
    padding: 0px;
    top: 0px;
    display: block;
  }
  
  nav ul {
    display: flex;
    align-items: center;
  }
  
  
  nav ul li {
    display: inline-block;
  }
  
  nav li a {
    color: #ffffff;
    display: block;
    text-decoration: none;
    font-size: 20px;
    padding: 10px;
  }
  
  nav a:hover {
    background-color: #93af7e;
  }


  .container {
    background-image: url('../images/wallpaper.jpg');
    display: flex;
    align-content: stretch;
    flex-direction: row;
    width: 100%;
    height: 400px;
    margin:0 auto;

}

.carousel-container {
  position: relative;
  overflow: hidden;
  margin: 20px;
  display:inline-block;
  flex: 3;
}

.carousel-slide {
  display: flex;
  width: 400%; 
  height: 100%;
  transition: transform 0.7s ease-in-out; 
  
}

.carousel-slide img{
  width:100%; 
  height: 100%;
  object-fit: cover; 
  overflow-x: hidden;
}

.carousel-control {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  font-size: 2em;
  color: white;
  background-color: rgba(0, 0, 0, 0.5);
  padding: 10px;
  cursor: pointer;
  user-select: none; 
}

.carousel-control.prev{
  left: 10px;
}

.carousel-control.next {
  right: 10px;
}

.carousel-indicators {
  position: absolute;
  bottom: 10px;
  left: 50%;
  transform: translateX(-50%);
  display: flex;
}

.carousel-indicators button {
  width: 7px;
  height: 7px;
  border-radius: 50%;
  background-color: rgba(255, 255, 255, 0.5);
  border: none;
  margin: 0 3px;
  cursor: pointer;
}

.carousel-indicators button.active {
  background-color: white;
}
  
  .myFoto{
    text-align: center;
    color: rgb(15, 92, 29);
    font-size: 20px;
    font-family: 'CENTURY GOTIC', sans-serif;
    overflow-wrap: break-word;
    border-style:hidden;
  
    width: 100%;
    margin: 0px;
    height: auto;
    position: relative;
    overflow: hidden;
    display:block;
    padding: 0px;
    span{
        display: block;
        margin: 30px;
        line-height: 1.5;
        opacity: 0.6;
    }
  }

  
  .image-gallery-grid {
    display: grid;
    grid-template-columns: repeat(4, 1fr); 
    grid-gap: 10px; 
    margin: 10px;
  
   figure {
    margin: 10px; 
    text-align: center;
  }
  
   img {
    width: 100%; 
    height: 200px;
    display: block;
  }
  
  figcaption {
    text-decoration: none;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 20px;
    color: #ffefe2;
    background-color: #bca78c;
  }
}



.marketing_h{

    font-family: 'CENTURY GOTHIC', sans-serif;
    font-size: 30pt;
    color: #144a12;
    text-align: right;
    padding: 20px;
    background-image: linear-gradient(to left, #c8a170, #331305);
  color: transparent;
  background-clip: text;
  -webkit-background-clip: text;
    

}
.marketing {
    column-width: 50%;
    column-gap: 20px;
    display: flex;
    justify-content: center;
    height: 450px;
    img{
      padding: 10px;
      width: 800px;
       height:450px ;
       clip-path: polygon(0 0, 100% 0, 100% 100%, 0 100%);
       transition: clip-path 0.7s ease;
    }
      img:hover {
      clip-path: polygon(10% 10%, 90% 10%, 90% 90%, 10% 90%);
    }
}

.marketing_card {
  width: 100%;
  height:100%;
    display: flex;
    flex-direction: column;
    padding: 0;
    margin: 10px;
    font-family: 'CENTURY GOTHIC', sans-serif;
    
    font-size: 12pt;
    color: #144a12;
    line-height: 2;
    gap: 30px;
    
    .base{
        display: block;
        background-color: #ecdec8;
        border: 2px dashed #144a12;
        margin: 0px;
        padding:5px;
        font-weight: 6;
        text-align: center;
        
    }
}
    
    
    
.block_facts{
    background-color: #93af7e;
    margin: 20px 0;
    h2{
        margin: auto;
        padding: 25px;
        color:#ffefe2;
        font-family: 'CENTURY GOTHIC', sans-serif;
        font-weight: 1;
        font-size: 30pt;
        text-align: center;
    }
}  
.facts {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 20px;
    justify-items: center;
    align-items: center;
    /*padding: 1px;
    margin: 6px;*/
    height: 100%;
    
    
figure
{   height: 300px;
    display: block;
    border: 1px solid white;
    background: #567540;
    padding: 20px;
    width: 70%;
    img
{
    width: 150px; 
    height: 150px; 
    object-fit: cover;
    display: block;
    border-radius: 50%;
    margin: 0 auto;
    padding: 10px;
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.2);
}

figcaption {
    text-align: center;
    font-family: 'CENTURY GOTHIC', sans-serif;
    font-size: 12pt;
    color: white;
    line-height: 20px;
    padding: 5px;
}      
}    
}

.zoom-effect {
  transition: transform 0.2s;
}
.zoom-effect:hover {
  transform: scale(1.1);
  filter: saturate(1.3);

}


 
input, textarea {
    width: 100%;
    background-color: #fff6e8;
}
 
button {
    margin-top: 2rem;
    background: #73b46e;
    color: #fff;
    border: none;
    padding: 0.6rem;
}



.simple-author-card {
  max-width: 300px;
  margin: 30px auto;
  padding: 25px;
  text-align: center;
  background: #b8de67;
  border-radius: 10px;
  box-shadow: 0 3px 10px rgba(0,0,0,0.1);
  border: 1px solid #93af7e;
  font-family: 'CENTURY GOTHIC', sans-serif;
}

.simple-author-card h3 {
  color: #165925;
  margin: 10px 0 5px;
  font-size: 20px;
}

.simple-author-card p {
  color: #4c6f30;
  margin-bottom: 20px;
  font-size: 14px;
}

.author-contacts {
  text-align: left;
  margin-top: 20px;
}

.contact-item {
  margin-bottom: 12px;
  display: flex;
  align-items: center;
}

.contact-item i {
  margin-right: 10px;
  color: #1e592c;
  width: 20px;
  text-align: center;
}

.contact-item span {
  font-size: 14px;
  color: #333;
}
.bottom{
    margin: -6px;
    padding: 0;
    nav {
        font-family: 'CENTURY GOTHIC', sans-serif;
        font-size: 4pt;
        background-color: #a6efb5da;
        background-image:url("../images/wallpaper.jpg");
        width: 100%;
        height:50px;
        margin: 0px;
        padding: 0px;
        top: 0px;
        display: block;
      }
      
      nav ul {
        display: flex;
        justify-content: space-between;
        align-items: center;
      }
      
      
      nav ul li {
        display: inline-block;
      }
      
      nav li a {
        color: #ffffff;
        display: block;
        text-decoration: none;
        font-size: 20px;
        padding: 10px;
      }
}